*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray500: hsl(0, 0%, 42%);
  --Gray950: hsl(0, 0%, 7%);
  --Family: "Figtree", sans-serif;
}

body {
  background-color: var(--Yellow);
  font-family: var(--Family);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;

  padding: 15px;
}
.card {
  background-color: var(--White);
  max-width: 23rem;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px black;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Figure Section */
figure img {
  width: 100%;
  border-radius: 10px;
}

/* Info Section */
.info {
  color: var(--Gray950);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.topic {
  background-color: var(--Yellow);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 800;
}

/* Content Section */
.content {
  color: var(--Gray500);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  color: var(--Gray950);
  font-size: 1.5em;
  font-weight: 800;
  cursor: pointer;
}
.title:hover {
  color: var(--Yellow);
}

/* Author Section */
.author {
  height: 40px;
  display: flex;
  gap: 10px;
}
.author-img {
  height: auto;
}
.author-name {
  height: 100%;
  font-size: 0.8em;
  font-weight: 800;
  line-height: 40px;
}

/* Attribution */
.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
